.contact-form {
	width: 100%;
	float: left;
	padding-top: 20px;
	background-color: #f8f8f8;
}

.short-input {
	width: 100%;
	margin-right: 10px;
	height: 25px;
}

.input-data {
	width: 39%;
	float: left;
	margin-bottom: 10px;
	margin-left: 20px;
}

.input-data label, .input-long label, .input-message label{
	display: block;
	margin-bottom: 10px;
}

.input-long {
	width: 100%;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

.input-long input {
	height: 25px;
	width: 80%;	
}

.input-message {
	width: 100%;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.input-message textarea {
	width: 80%;
	height: 200px;	
}

.btn-group {
	float: left;
	width: 80%;
	text-align: right;
	margin-left: 20px;
	margin-bottom: 10px;
}

.btn {
	height: 25px;
	padding: 0 20px;
	background-color: #0E8FAB;
	border-style:none;
	color: #FFF;
}

.btn:hover{
	cursor: pointer;
	background-color: #555;
}

.contact-data {
	color: #555;
	background-color: #f8f8f8;
	float: left;
	padding-top: 20px;
}

.contact-data p {
	padding-bottom: 20px;
}