/*
	This css file contain the styles rules apply to the header site (header, nav).
*/
header {
	background-color: #F8F8F8;
	width: 20%;
	float: left;
	padding: 24px 0 0 20px;
	height: 100px;
	box-sizing: border-box;
}

nav {
	background-color: #F8F8F8;
	float: right;
	height: 100px;
}

nav>ul {
	list-style-type: none;
	overflow: hidden;
	padding-right: 20px;
}

nav>ul>li {
	float: left;
}

nav>ul>li>a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 37px 10px;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #555;
	margin-left: 2px;
}

nav>ul>li>a:hover, .active {
	background-color: #555;
	color: #FFF;
}

nav>ul>li>a:after {
	background-color: #555;
	color: #FFF;
}

nav>ul>li:hover>ul {
	display: block;
}

.sub-menu {
	list-style-type: none;
	display: none;
	margin-left: 2px;
}

.sub-menu>li>a{
	display: block;
	color: #FFF;
	background-color: #555;
	padding: 10px 5px;
	text-decoration: none;
	text-transform: uppercase;
}

.main-header {
	background-color: #F8F8F8;
	width: 100%;
	height: 100px;
}