.products-content {
	width: 100%;
	float: left;
	background-color: #F8F8F8;
	padding-top: 20px;
	padding-bottom: 20px;
}

.page-product {
	background-color: #F8F8F8;
}

.product-box {
	margin-left: 20px;
}

.product-view {
	border: 1px solid #333;
	width: 25%;
	float: left;
}

.product-view img {
	width: 100%;
	height: 160px;
}

.product-view h1 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1px;
	text-align: center;
	padding: 15px;
	background-color: #FFF;
	display: block;
	color: #555;
}

.product-view a {
	text-decoration: none;
}

.product-box p {
	width: 70%;
	float: left;
	text-align: justify;
	margin: 0 20px;
}