section {
    background-color: #0E8FAB;
    background-image: url('../images/noise.png');
    background-repeat: repeat;
}
.slider-container {
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.border-shadow {
    width: 100%;
    background-image: url('../images/shfinal.png');
    background-repeat: repeat-x;
    height: 70px;
}

.slider {
    float: left;
    width: 33.333%;
}

.slider h2 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 40px;
    display: inline;
    white-space: nowrap;
    z-index: 10;
    font-weight: 800;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.slider p {
    width: 43%;
    color: #FFF;
    font-size: 18px;
    height: 80px;
    line-height: 26px;
    overflow: hidden;
    font-family: OpenSansRegular;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.slider a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    display: inline;
    padding: 10px;
    background-color: #333;
    font-family: OpenSansRegular;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 2;
}

.slider .slider-img {
    float: right;
    width: 30%;
    height: 256px;
    line-height: 320px;
}

input[name="slider-element"] {
    display: none;
}

.slider-box {
    width: 300%;
    height: 100%;
    transition: all 0.75s ease;
    animation: autoSlider 15s infinite linear;
}

.slider-element-one,
.slider-element-two,
.slider-element-3 {
    min-height: 400px;
    max-height: 100%;
    width: 100%;
}

#slider-element-first:checked ~ .slider-container .slider-box {
    margin-left: 0;
}

#slider-element-secound:checked ~ .slider-container .slider-box {
    margin-left: -100%;
}

#slider-element-three:checked ~ .slider-container .slider-box {
    margin-left: -200%;
}

@keyframes autoSlider {
    0%{
        margin-left: 0;
    }
    30%{
        margin-left: 0;
    }
    35%{
        margin-left: -100%;
    }
    65%{
        margin-left: -100%;
    }
    70%{
        margin-left: -200%;
    }
    90%{
        margin-left: -200%;
    }
    100%{
        margin-left: 0;
    }
}