.video-container {
	background-color: #F8F8F8;
	width: 100%;
	float: left;
}

.arrows-container {
	width: 100%;
	float: left;
	padding: 10px 20px;	
}

.arrows-container h2 {
	font-size: 18px;
	text-transform: uppercase;
	color: #333;
	padding: 10px 0;
	width: 50%;
	display: inline-block;
}

.video-slider-container {
	width: 100%;
	float: left;
}

.video-slider-box {
	position: relative;
	width: 100%;
	height: 250px;
	left: 20px;
	top: 0;
}

.video-slider {
	position: absolute;
	width: 100%;
	visibility: hidden;
	opacity: 0;	
	height: 200px;
}

.video-slider-active {
	visibility: visible;
	opacity: 1;
	transition: visibility 1s, opacity 1s;
}
