.page-videos {
	background-color: #f8f8f8;
}

.video-content {
	background-color: #F8F8F8;
	width: 100%;
	float: left;
}

.video-margin {
	margin: 20px 0 20px 20px;
}

.video-arrows {
	margin: 0 10px 10px 0;
}